/* ============================
   BACKGROUND FULL SCREEN
============================ */
body {
    margin: 0;
    font-family: Arial, sans-serif;

    /* ⬇ COLOQUE A IMAGEM DE FUNDO AQUI ⬇ */
    background-image: url("imgscultura/bg4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}



/* Menu */
.menu {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 60px;
    font-size: 22px;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: white;
}

/* ============================
   CONTEÚDO DA PÁGINA
============================ */
.container {
    margin-left: 150px;
    padding: 20px;
    text-align: center;
    color: white;
}

/* ============================
   NOVO MODELO DE CARD (CANVA)
============================ */
.cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 35px;
}

.card {
    background: rgba(255,255,255,0.90);
    border-radius: 25px;
    padding: 20px;
    transition: transform .25s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 200px; /* imagem maior */
    display: block;
    margin: 0 auto 10px auto;
}

/* Nome */
.card h3 {
    margin: 0;
    color: #003c5d;
    font-size: 20px;
    font-weight: bold;
}